@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center">St. Patrick's Of Texas    </h1>

    </div>
</div>


<!-- The four columns -->

<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div id="imgtext"></div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Photography gallery</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="">See Gallery&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>Choose the product that you want</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Examples</h2>
        <p>Text</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>

